

 <form id="review-form" action-="/products/<product_id>/reviews" method="post">
       <label for="floatingInput">Comments</label>
        <input type="txt" name="comments" class="absolute-bottom, container" id="floatingInput"
          placeholder="Input Comment..." required>
       <label for="floatingInput">Ratings</label>
        <input type="number" name="rating" class="absolute-bottom, container" id="floatingInput" placeholder="1-5"
          min="1" max="5" required>
        
        
        <input class="btn btn-primary" type="submit" value="Submit">
      </form>



